@font-face {
  font-family: BebasNeue;  
  src: url("../fonts/BebasNeue.eot");  
}

/* Para el Resto de los navegadores del mercado */
@font-face {
  font-family: BebasNeue;  
  src: url("../fonts/BebasNeue.otf") format("opentype");  
}
#opinion_publica{
    position: relative;
    width: 1278px;
    height: 530px;    
    background-repeat: repeat;
}
.volver_action{
    position: absolute;
    font-family: BebasNeue;
    font-size: 33px;
    right: 30px;
    border: 1px solid black;
    background-color: rgb(213,211,200);
    height: 40px;
    width: 130px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
.volver_action img{
    max-width: 40px;
    margin-left: 10px;
}
.volver_action_superior{
    top: 0px
}
.volver_action_inferior{
    bottom: 0px
}


#persona_opinion_publica{
    position: absolute;
    bottom: 0px;
    left: 900px;
}
.rayo{
    position: absolute;
    right: 350px;
    z-index: 1;
}
.rayo img{
     max-width: 500px;
}
#rayo_1{
    top: 35px;
    right: 350px;
}#rayo_2{
    top: 120px;
    right: 350px;
}
#rayo_3{
    top: 160px;    
}
#rayo_3 img{
    max-width: 350px;
}

#menu_central_opinion_publica{
    position: absolute;
    display: block;
    left: 20px;
    top: 150px;
}

.menu_central_item_titulo{    
    max-height: 90px;
    left: 80px;
}

.flecha_negra_menu{    
    max-height: 60px;
    top: 15px;    
}
.menu_central_item_action{
    position: relative;
}
.menu_central_item_action img{        
    position: absolute;
}
.menu_central_item_action{
    height: 100px;
    cursor: pointer;
}
.sub_menu_central{
    height: 350px;
    width: 480px;
    top: 100px;
    left: 35px;
    position: absolute;
    z-index: 8;
    color: black;
    font-family: BebasNeue;
    display: none;
    font-size: 50px;
}
.sub_menu_central img{
    max-width: 40px;
    margin-right: 20px;
}
.sub_menu_item{
    cursor: pointer;
}

.sub_menu_item_salida{
    margin-top: 50px;
    float: right;
    font-size: 30px;
    color: black;
}

.sub_menu_item_salida img{
    max-height: 24px;
    margin-right: 10px;
}

/*
    Modulo de videos de producciones IP
*/

#contenedor_producciones_videos{
    display: none;
}

.titulo_contenedor_videos{
    position: absolute;
    top: 20px;
    left: 495px;
}
.titulo_contenedor_videos .cinta{
    position: absolute;
    max-width: 300px;    
}

.titulo_contenedor_videos .titulo_sobre_cinta{
    position: absolute;    
    max-width: 170px;
    left: 65px;
    top: 5px;
}

#wrapper_producciones_videos{
    position: absolute;
    top: 120px;
    z-index: 10;
}

.video_producciones_list{
    position: relative;
    width: 400px;
    float: left;    
    margin-left: 20px;    
}
#producciones_listas_videos_control{
  width: 200px;
  border: 1px solid black;
  float: left;
}  
.video_list_controller{
  cursor: pointer;
}
#producciones_lista_preview{
  width: 930px;  
  float: left;
  margin-left: 20px;
}

.titulo_lista_video_producciones{
    position: relative;
    margin-left: 50px;
}
.titulo_lista_video_producciones_ticket{    
    max-width: 300px;    
}
.titulo_lista_video_producciones_titulo_lista{
    position: absolute;
    width: 235px;
    height: 80px;
    left: 30px;
    top: 5px;
    color: white;
    font-family: BebasNeue;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}
.video_container{
    width: 200px;
    border: 3px #EEE solid;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #DCDFE2;
    margin-left: 20px;
    -moz-box-shadow: 10px 10px 20px 1px #EEE;
    -webkit-box-shadow: 10px 10px 20px 1px #EEE;
    box-shadow: 10px 10px 20px 1px #EEE;
    float: left;
}
#container_producciones_videos_list .scrollbar{
    position: relative;
    float: right;
    width: 12px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#container_producciones_videos_list{
  width: 950px;
}
#container_producciones_videos_list .viewport{
  width: 930px;
  height: 300px;
  overflow: hidden;
  position: relative;
  float: left;
}
#container_producciones_videos_list .thumb{
    background-color: black;
    width: 12px;
    border-radius: 12px;
}
#container_producciones_videos_list .thumb .end{
    background-color: black;
    width: 0px;
    border-radius: 12px;
}
#container_producciones_videos_list .track{
  background-color: #DDD;
  width: 12px;
  position: relative;
  border-radius: 15px; 
}
.video_container .thumbnail_wrapper{
    background-color: white;    
}
.video_produccion_thumbnail{
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.video_produccion_info{
    background-color: #DCDFE2;
    padding-bottom: 10px;
    height: 110px;
}
.video_produccion_info_titulo{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.video_produccion_info_decripcion{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.video_produccion_thumbnail{
    cursor: pointer;
}
.infografia_producciones_list{
    position: relative;
    width: 400px;
    float: left;    
    margin-left: 20px;
}
.infografia_container{
    width: 360px;
    border: 3px #EEE solid;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #DCDFE2;
    margin-left: 20px;
    -moz-box-shadow: 10px 10px 20px 1px #EEE;
    -webkit-box-shadow: 10px 10px 20px 1px #EEE;
    box-shadow: 10px 10px 20px 1px #EEE;    
}

.infografia_container .thumbnail_wrapper{
    background-color: white;    
}
.infografia_produccion_thumbnail{
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.infografia_produccion_info{
    background-color: #DCDFE2;
    height: 100px;
}
.infografia_produccion_info_titulo{
    font-family: BebasNeue;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}
.infografia_produccion_info_decripcion{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.infografia_produccion_thumbnail{
    cursor: pointer;
}

#wrapper_producciones_infografias{
    position: absolute;
    top: 120px;
    z-index: 10;
}
.titulo_seccion_infografia{
    position: absolute;
    max-width: 260px;
    left: 20px;
    top: 5px;
}

.iframe_infografia_viewer{
    overflow: hidden;
}

/*
Modulo noticias
*/
#noticias_container{    
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.noticia_container_titulo{
    position: absolute;
    top: 20px;
    left: 512px;          
}
.overview_noticia{    
    width: 760px;    
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: justify;
}
.noticia_activa{
    width: 800px;
    position: absolute;
    top: 120px;
    left: 20px;
    height: 400px;
    background-color: #F9F9F9;
    border: black solid 1px;
    padding: 2px;
}

.noticia_content{
    width: 800px;
    height: 400px;
    margin: 0px;    
}

.noticia_content .scrollbar{
    position: relative;
    float: right;
    width: 15px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.noticia_content .viewport{
    width: 780px;
    height: 400px;
    overflow: hidden;
    position: relative;
    float: left;
}
.noticia_content .thumb{
    background-color: black;
    width: 12px;
    border-radius: 12px;
}

.noticia_content .thumb .end{
    width: 0px;
    background-color: black;    
}

.noticia_content .track{
    background-color: white;    
    width: 12px;
    position: relative;
    padding: 0 1px;
}

.historial_noticias{
    position: absolute;
    width: 380px;    
    min-height: 390px;    
    top: 120px;
    right: 25px;    
}
.noticia_epigrafe{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-family: sans-serif;
    font-variant: small-caps;
    margin-top: 20px;
}

.noticia_element{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.noticia_titulo{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;    
}


.noticia_bajada{    
    font-style: italic;
    font-size: 14px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    padding-top: 5px;
}
.noticia_cuerpo{
    margin-top: 20px;
    margin-bottom: 40px;    
}
.titulo_historial_widget{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    font-family: BebasNeue;
    border-bottom: red 2px solid;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}
#historial_widget{
    height: 300px;
    width: 300px;
    background-color: rgb(249,249,249);
    font-family: sans-serif;    
    padding: 10px;
}
.overview_historial_noticias{    
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: white;
    padding: 5px;
}
.noticia_preview{
    font-size: 12px;
    cursor: pointer;    
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid black 1px;
}

.noticia_preview_first{
    border-top: solid black 1px;
}

#container_overview_historial_noticias .scrollbar{
    position: relative;
    float: right;
    width: 12px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#container_overview_historial_noticias .viewport{
    width: 255px;
    height: 250px;
    overflow: hidden;
    position: relative;
    float: left;
}
#container_overview_historial_noticias .thumb{
    background-color: black;
    width: 12px;
    border-radius: 12px;
}

#container_overview_historial_noticias .thumb .end{
    background-color: black;
    width: 0px;
    border-radius: 12px;
}

#container_overview_historial_noticias .track{
    background-color: white;    
    width: 12px;
    position: relative;    
}
#container_overview_historial_noticias{
    width: 280px;
    height: 252px;
    background-color: white;
}

.noticia_module_volver{
    margin-top: 30px;
    margin-left: 185px;
    width: 132px;
    height: 70px;
    cursor: pointer;
}

.noticia_module_volver img{
    max-height: 50px;
    float: left;
}

.noticia_module_volver .texto_volver{
    text-transform: uppercase;
    color: black;
    font-family: BebasNeue;
    font-size: 28px;
    margin-left: 10px;
    float: left;
    margin-top: 7px;
}